*{
	margin:0px;
	padding:0px;
}
body{
	background:#C3F200;
	width: 90%;
	margin:auto;
}
body h1{
	margin:20px auto 0px auto;
	font-size:60px;
	color:#fff;
	width:90%;
}
form{
	margin:40px 0px;
	float:left;
	color:#2B0087;
	display:block;
	font-size:30px;
}
form p{
	color:red;
	margin:20px 20px 0px 20px;
	padding:10px 20px;
}
input{
	margin:20px 10px 20px 20px;

}
input[type="submit"]{
	padding:10px 100px;
	font-size:30px;
	background:#fff;
}
form div{
	margin:0px 20px;
	display:block;

}
